@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  transition: background-color 0.3s ease;
  height: 100vh;
}

.dark {
  background-color: #0f010f;
  color: #fff;
  border-color: #fff;
}

.light {
  background-color: #fff;
  color: #1d001f;
  border-color: #1d001f;
}

/* Tambahkan aturan animasi ke dalam berkas CSS atau berkas style Anda */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Tambahkan kelas animasi ke elemen modal */
.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}